* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}
:root {
  --main-color: #08fdd8;
  --secColor: #05fdd8;
}
body {
  display: flex;
  background: #1d1d1d;
}
.Menubar {
  height: 100vh;
  width: fit-content;
  background: #181818;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
.Menubar > div:first-of-type {
  background: #000;
  padding: 1rem;
  cursor: pointer;
}
.Menubar > div:first-of-type > h1 {
  font-size: 1.5625rem;
}
.Menubar > div:first-of-type > h1::before {
  content: "I";
  position: relative;
  height: fit-content;
  width: fit-content;
  margin: auto;
  display: block;
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  color: #fd2155;
  text-shadow: -4px 2px 0px var(--main-color);
}
.Menubar > div:first-of-type > p {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}
ul {
  list-style-type: none;
}
.Menubar > ul:first-of-type > li {
  padding: 0.8rem 0;
  width: 100%;
  border-bottom: 1px solid #292828;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
}
.Menubar > ul:first-of-type .active {
  color: var(--main-color);
  pointer-events: none;
  cursor: default;
}
.Menubar > ul:first-of-type > li > a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease;
}
.Menubar > ul:first-of-type > li > a:hover,
.GreetingSide > div:first-of-type > div:last-of-type > a {
  color: #1ec4ab;
}
.Menubar > ul:first-of-type span {
  color: var(--main-color) !important;
}
.socials {
  width: 80%;
  margin: 0.5rem auto;
  display: flex;
  flex-wrap: wrap;
}
.socials * {
  font-size: 15px;
  cursor: pointer;
}
.socials > * {
  color: #fff !important;
}
.socials > *:hover {
  color: var(--main-color) !important;
}
.socials *:nth-of-type(2),
.socials *:nth-of-type(3) {
  margin-left: 1.2rem;
}
.socials > *:last-of-type {
  margin: 0.8rem auto 0 auto;
}
.Menubar > ul:last-of-type {
  width: fit-content;
  border-top: 1px solid #292828;
  padding: 0.6rem !important;
  margin: 0.5rem auto 0 auto !important;
}
.Menubar > ul:last-of-type > li {
  color: #ccc;
  font-size: 0.75rem;
}
.Menubar > ul:last-of-type > li:not(:first-of-type) {
  margin-top: 0.5rem;
}
body > div:nth-of-type(2) {
  display: flex;
  padding: 3rem 0 0 3rem;
  width: 100%;
}
.GreetingSide > div {
  width: 50%;
}
.GreetingSide > div:first-of-type > div:first-of-type,
.GreetingSide > div:first-of-type > div:nth-of-type(2) {
  display: flex;
  width: fit-content;
  flex-direction: column;
}
.GreetingSide > div:first-of-type > div:first-of-type *,
.GreetingSide > div:first-of-type > div:nth-of-type(2) * {
  color: #6b6b6b;
  font-family: Hanuman !important;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem;
}
.GreetingSide > div:first-of-type > div:first-of-type > span:nth-of-type(2),
.GreetingSide > div:first-of-type > div:nth-of-type(2) > span:nth-of-type(2) {
  margin-left: 1.5rem;
}
.GreetingSide > div:first-of-type > div:first-of-type > span:last-of-type {
  margin-left: 3rem;
}
.GreetingSide > div:first-of-type > h1 {
  font-family: "Roboto";
  color: #fff;
  font-size: 4.375rem;
  font-weight: 900;
  width: fit-content;
  text-shadow: 0px 4px 3px #5bf7e0;
}
.GreetingSide > div:first-of-type > h1 > span {
  color: #fd2155;
  text-shadow: -4px 2px 0 var(--main-color);
}
.GreetingSide > div:first-of-type > div:last-of-type {
  margin-top: 3rem;
}
.GreetingSide > div:first-of-type > div:last-of-type > a,
.GreetingSide > div:last-of-type > a,
.my-work-info > a {
  position: relative;
  padding: 0.6rem 4rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.GreetingSide > div:first-of-type > div:last-of-type > a {
  width: fit-content;
  background: #3acfb9;
}
.GreetingSide > div:last-of-type > a {
  width: 50%;
  text-align: center;
  border: 1px solid #4bf5db;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  color: #3acfb9;
}
.GreetingSide > div:last-of-type > a:first-of-type,
.GreetingSide > div:last-of-type > a:last-of-type {
  background-color: #41d8c1;
  color: #fff;
}
.GreetingSide > div:first-of-type > div:last-of-type > a::after {
  background: #fff;
  height: 6px;
  width: 6px;
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
}
.GreetingSide > div:first-of-type > div:last-of-type > a:last-of-type {
  margin-left: 1.4rem;
}
.GreetingSide > div:first-of-type > div:last-of-type > a:hover,
.GreetingSide > div:last-of-type > a:hover {
  background-color: #41d8c1;
  color: #fff;
}
.GreetingSide > div:last-of-type {
  position: relative;
  display: flex;
  background-image: url("/images//IsiteYves.png");
  background-position-x: 15rem;
  background-position-y: 15rem;
  background-size: 60%;
  background-repeat: no-repeat;
  flex-direction: column;
}
.GreetingSide > div:last-of-type > a:not(:nth-of-type(2)) {
  margin-top: 1rem;
}
.GreetingSide > div:last-of-type > a:nth-of-type(2) {
  margin-top: 8rem;
}
.GreetingSide > div:last-of-type > a:first-of-type {
  position: absolute;
  right: 3rem;
  width: fit-content !important;
  float: right;
}
body > button {
  position: absolute;
  bottom: 2rem;
  transform: translateX(-50%);
  left: 50%;
  background: #08fdd8;
  display: flex;
  height: 2.5rem !important;
  width: 2.5rem !important;
  outline: none !important;
  border: none !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px !important;
  cursor: pointer;
}
.my-work-info {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 3rem 3rem !important;
}

.my-work-info > div:first-of-type {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  color: #fff;
  font-size: 0.875rem !important;
}
.my-work-info > div:first-of-type > h1 {
  position: relative;
  color: var(--main-color);
  font-size: 3.125rem;
  font-weight: 900 !important;
  margin-right: 6.5rem;
}
.my-work-info > div:first-of-type > h1::after {
  position: relative;
  content: "";
  display: flex;
  width: 4.875rem;
  height: 0.3125rem;
  background: var(--main-color);
  border-color: 2px solid blue;
  top: -2rem;
  left: 14rem !important;
}
.my-projects {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
}
.my-projects > div:nth-of-type(-n + 3) {
  margin-top: 0 !important;
}
.my-projects > div:nth-of-type:first-of-type,
.my-projects > div:nth-of-type:nth-of-type(4) {
  margin-left: 0 !important;
}
.my-projects > div {
  margin: 2rem 0 0 2rem;
  width: 30%;
  padding: 1rem;0
  background-clip: red;
  background: url("./images/project.png") no-repeat;
}
.my-work-info > a {
  width: fit-content;
  margin-top: 2rem;
  background-color: #3acfb9 !important;
}
.my-work-info > .my-projects > div > div {
  margin-top: 4rem;
  background: #000;
  padding: 1rem;
  border-radius: 0.3125rem;
}
.my-work-info > .my-projects > div > div * {
  color: #fff;
}
.my-work-info > .my-projects > div p {
  margin-top: 0.6rem !important;
  margin-bottom: 0.7rem !important;
  font-size: 0.875rem;
}
