* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
  background-repeat: no-repeat !important;
  z-index: 5 !important;
}
:root {
  --main-color: #08fdd8;
  --secColor: #05fdd8;
}
::-webkit-scrollbar {
  width: 0.3125rem;
}
::-webkit-scrollbar-track {
  border-radius: 0.625rem;
  background: #464444;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background-color: #908f8f;
}
body {
  display: flex;
  background: #1d1d1d;
  overflow-x: hidden;
  height: fit-content;
}
.Menubar {
  position: sticky !important;
  top: 0;
  z-index: 20 !important;
  height: 100vh;
  width: fit-content;
  background: #181818;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
.Menubar > div:first-of-type {
  background: #000;
  padding: 1rem;
  cursor: pointer;
}
.Menubar > div:first-of-type > h1 {
  font-size: 1.5625rem;
}
.Menubar > div:first-of-type > h1::before,
.responsive-menu > h1 {
  content: "Y";
  height: fit-content;
  width: fit-content;
  margin: auto;
  display: block;
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  color: #fd2155;
  text-shadow: -4px 0 0px var(--main-color);
  /* text-shadow: -4px 2px 0px var(--main-color); */
}
.Menubar > div:first-of-type > p {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}
ul {
  list-style-type: none;
}
.Menubar > ul:first-of-type > li {
  padding: 0.8rem 0;
  width: 100%;
  border-bottom: 1px solid #292828;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
}
.Menubar > ul:first-of-type .active {
  color: var(--main-color);
  pointer-events: none;
  cursor: default;
}
.Menubar > ul:first-of-type > li > a {
  color: #fff;

  transition: all 0.5s ease;
}
.Menubar > ul:first-of-type > li > a:hover,
.GreetingSide > div:first-of-type > div:last-of-type > a {
  color: #1ec4ab;
}
.Menubar > ul:first-of-type span {
  color: var(--main-color) !important;
}
.socials {
  width: 80%;
  margin: 0.5rem auto;
  display: flex;
  flex-wrap: wrap;
}
.socials * {
  font-size: 15px;
  cursor: pointer;
}
.socials > * {
  color: #fff !important;
}
.socials > *:hover {
  color: var(--main-color) !important;
}
.menu-block-link,
.menu-block-link * {
  z-index: 80 !important;
}
#menubarRemoveIcon {
  z-index: 99 !important;
  display: none;
}
.socials *:nth-of-type(2),
.socials *:nth-of-type(3) {
  margin-left: 1.2rem;
}
.socials > *:last-of-type {
  margin: 0.8rem auto 0 auto;
}
.Menubar > ul:last-of-type {
  width: fit-content;
  border-top: 1px solid #292828;
  padding: 0.6rem !important;
  margin: 0.5rem auto 0 auto !important;
}
.Menubar > ul:last-of-type > li {
  color: #ccc;
  font-size: 0.75rem;
}
.Menubar > ul:last-of-type > li:not(:first-of-type) {
  margin-top: 0.5rem;
}
body > div:nth-of-type(2) {
  display: flex;
  width: 100%;
}
body > .GreetingSide {
  padding: 3rem 0 0 3rem;
}
body > .GreetingSide > div,
body > .About-me-info > div,
body > .My_Skills > div {
  width: 50%;
}
.responsive-menu {
  position: sticky;
  top: 0;
  background: #181818;
  width: 100% !important;
  display: none;
  z-index: 15 !important;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
}
.responsive-menu * {
  cursor: pointer;
}
.responsive-menu > h1 {
  margin-left: 0;
}
.responsive-menu *:last-child {
  font-size: 30px;
  color: #fff;
}
.GreetingSide > div:first-of-type > div:first-of-type,
.GreetingSide > div:first-of-type > div:nth-of-type(2) {
  display: flex;
  width: fit-content;
  flex-direction: column;
}
.GreetingSide > div:first-of-type > div:first-of-type *,
.GreetingSide > div:first-of-type > div:nth-of-type(2) * {
  color: #6b6b6b;
  font-family: Hanuman !important;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem;
}
.GreetingSide > div:first-of-type > div:first-of-type > span:nth-of-type(2),
.GreetingSide > div:first-of-type > div:nth-of-type(2) > span:nth-of-type(2) {
  margin-left: 1.5rem;
}
.GreetingSide > div:first-of-type > div:first-of-type > span:last-of-type {
  margin-left: 3rem;
}
.GreetingSide > div:first-of-type > h1 {
  font-family: "Roboto";
  color: #fff;
  font-size: 4.375rem;
  font-weight: 900;
  width: fit-content;
  text-shadow: 0px 4px 3px #5bf7e0;
}
.GreetingSide > div:first-of-type > h1 > span {
  color: #fd2155;
  text-shadow: -4px 2px 0 var(--main-color);
}
.GreetingSide > div:first-of-type > div:last-of-type {
  margin-top: 3rem;
}
.GreetingSide > div:first-of-type > div:last-of-type > a,
.GreetingSide > div:last-of-type > a,
.my-work-info > a,
.About-me-info > div:last-of-type > div:first-of-type > a,
.my-projects > div a {
  position: relative;
  padding: 0.6rem 4rem;
  color: #fff;

  font-weight: 700;
}
.my-projects > div a {
  display: flex;
  align-items: center;
  padding: 0.4rem 2rem !important;
}
.my-projects > div a * {
  font-size: 1.5625rem !important;
}
.GreetingSide > div:first-of-type > div:last-of-type > a {
  width: fit-content;
  background: #29b39e;
}
.GreetingSide > div:last-of-type > a {
  width: 50%;
  text-align: center;
  border: 1px solid #4bf5db;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  color: #3acfb9;
}
.GreetingSide > div:last-of-type > a:first-of-type,
.GreetingSide > div:last-of-type > a:last-of-type {
  background-color: #41d8c1;
  color: #fff;
}
.GreetingSide > div:first-of-type > div:last-of-type > a::after {
  background: #fff;
  height: 6px;
  width: 6px;
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
}
.GreetingSide > div:first-of-type > div:last-of-type > a:last-of-type {
  margin-left: 1.4rem;
}
.GreetingSide > div:first-of-type > div:last-of-type > a:hover,
.GreetingSide > div:last-of-type > a:hover {
  background-color: #41d8c1;
  color: #fff;
}
.GreetingSide > div:last-of-type {
  position: relative;
  display: flex;
  background-image: url("/images//IsiteYves.png");
  background-position-x: 15rem;
  background-position-y: 15rem;
  background-size: 60%;
  flex-direction: column;
}
.GreetingSide > div:last-of-type > a:not(:nth-of-type(2)) {
  margin-top: 1rem;
}
.GreetingSide > div:last-of-type > a:nth-of-type(2) {
  margin-top: 8rem;
}
.GreetingSide > div:last-of-type > a:first-of-type {
  position: absolute;
  right: 3rem;
  width: fit-content !important;
  float: right;
}
body > button {
  position: absolute;
  bottom: 2rem;
  transform: translateX(-50%);
  left: 50%;
  background: #08fdd8;
  display: flex;
  height: 2.5rem !important;
  width: 2.5rem !important;
  outline: none !important;
  border: none !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px !important;
  cursor: pointer;
}
.my-work-info {
  display: flex;
  flex-direction: column;
  padding: 0 0 3rem 0rem !important;
}

.my-work-info > div:first-of-type {
  position: sticky;
  top: 0;
  z-index: 25 !important;
  background: #1d1d1d;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0.8rem 0 1rem 3rem !important;
  font-size: 0.875rem !important;
}
.my-work-info > div:first-of-type > h1 {
  position: relative;
  color: var(--main-color);
  font-size: 3.125rem;
  font-weight: 900 !important;
  margin-right: 6.5rem;
}
.my-work-info > div:first-of-type > h1::after {
  position: relative;
  content: "";
  display: flex;
  width: 4.875rem;
  height: 0.0625rem;
  background: var(--main-color);
  top: -2rem;
  left: 14rem !important;
}
.blog-info {
  display: block !important;
}
.blog-info > div:first-of-type {
  flex-direction: column;
  align-items: unset;
}
.my-work-info > a {
  margin-left: 3rem;
}
.my-blogs > .blog > h3 {
  font-weight: 700;
  color: #288072;
}
.my-blogs > .blog > h3,
.my-blogs > .blog > p {
  margin: 1rem 0 0 1rem !important;
  font-size: 0.875rem;
  max-width: 91%;
}
.my-blogs > .blog > p {
  margin-top: 0.5rem !important;
  margin-bottom: 1.2rem !important;
}
.my-blogs > .blog > a {
  margin-left: 1rem;
  font-size: 0.875rem !important;

  padding: 0.5rem 1.5rem;
  background: #25e0c4;
  border-radius: 3.125rem;
  color: #fff;
  transition: all 0.5s ease;
  font-weight: 700;
}
.blog-info > div:first-child > p {
  width: 55% !important;
  margin-left: 0.4rem;
}
.blog-info > div:first-of-type > h1::after {
  display: none;
}
.my-projects {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin-top: -1rem;
  margin-left: -2rem !important;
  padding-left: 3rem;
}
.my-projects > div {
  margin: 2rem 0 0 2rem;
  background-size: contain;
  width: 30%;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 3px 30px #000000;
  transition: all 0.4s ease;
  animation: comeUp 1s ease;
}
@keyframes comeUp {
  0% {
    margin-top: 4rem;
    opacity: 0.1;
  }
  100% {
    margin-top: 2rem;
    opacity: 1;
  }
}
.my-projects > div:first-of-type {
  background: url("./images/skidesign.png");
}
.my-projects > div:nth-of-type(2) {
  background: url("./images/groovinx.png");
}
.my-projects > div:nth-of-type(3) {
  background: url("./images/sparkcinema.png");
}
.my-projects > div:nth-of-type(4) {
  background: url("./images/myliberpay.png");
}
.my-projects > div:nth-of-type(5) {
  background: url("./images/keystore.png");
}
.my-projects > div:nth-of-type(6) {
  background: url("./images/measuremets-converter.png");
}
.my-work-info > a,
.my-projects > div a {
  width: fit-content;
  margin-top: 2rem;
  background-color: #3acfb9 !important;
}
.my-work-info > .my-projects > div > div {
  margin-top: 4rem;
  background: #00000094;
  padding: 1rem;
  border-radius: 0.3125rem;
}
.my-work-info > .my-projects > div > div * {
  color: #fff;
}
.my-work-info > .my-projects > div p {
  margin-top: 0.6rem !important;
  margin-bottom: 0.7rem !important;
  font-size: 0.875rem;
}
.About-me-info > div:nth-of-type(2) {
  background-color: #181818;
  padding: 2em 3rem 3rem 3rem;
}
.About-me-info > div:first-of-type {
  padding: 5rem 3rem 3rem 3rem;
}
.About-me-info > div:first-of-type > h1 {
  font-size: 3.125rem;
  color: #08fdd8;
}
.About-me-info > div:first-of-type > p {
  margin-top: 2rem;
  color: #fff;
  font-size: 1rem;
}
.About-me-info > div:first-of-type > p:last-of-type {
  margin-bottom: 2rem;
}
.About-me-info > div:first-of-type > a {
  padding: 0.8rem 2rem;
  width: 10rem;
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin-top: 4rem;
  background: #3acfb9;
}
.About-me-info > div:first-of-type > a:hover {
  color: #3acfb9;
  border: 1px solid #3acfb9;
  background-color: transparent;
  padding: 0.7375rem 1.9375rem;
}
.About-me-info > div:last-of-type > div:first-of-type {
  display: flex;
  justify-content: space-between;
}
.About-me-info > div:last-of-type > div:first-of-type > a:first-of-type,
.About-me-info > div:last-of-type > div:first-of-type > a:last-of-type:hover {
  border: 1px solid #3acfb9 !important;
  background: transparent !important;
  color: #3acfb9 !important;
}
.About-me-info > div:last-of-type > div:first-of-type > a:first-of-type:hover,
.About-me-info > div:last-of-type > div:first-of-type > a:last-of-type {
  background: #3acfb9 !important;
  color: #fff !important;
}
.About-me-info > div:last-of-type > h1 {
  margin-top: 1.5rem;
}
.About-me-info > div:last-of-type > h1,
.My_Skills > h1 {
  color: #08fdd8;
}
.My_Skills > h1 {
  margin-top: 0 !important;
}
.About-me-info > div:last-of-type > ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 1rem;
  padding-left: 0.5rem;
}
.About-me-info > div:last-of-type > ul > li {
  color: #fff;
  font-size: 1rem;
}
.My_Hobbies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.My_Hobbies > div {
  background: #201e1e;
  width: 45%;
  border-radius: 0.375rem;
  margin-top: 2rem;
  padding: 1.5rem 0;
  text-align: center;
}
.My_Hobbies > div > span {
  display: none !important;
  height: 3rem !important;
}
.My_Hobbies > div > p {
  font-weight: 900;
  color: #fffada;
}
.My_Skills {
  margin-top: 2rem;
  background: #3f3b3b;
  padding: 2rem 3rem !important;
}
.My_Skills > p {
  font-weight: 700;
  color: #fff;
  font-size: 0.875rem;
  margin-left: 0.2rem;
}
.My_Skills > p:not(:first-of-type) {
  margin-top: 0.8rem !important;
}
.My_Skills > div {
  background: #fff;
  height: 1px;
  width: 98%;
  margin-top: 0.4rem;
  margin-left: 0.2rem;
}
.My_Skills > div > div {
  height: 100%;
}
.My_Skills > div:first-of-type > div {
  width: 98%;
  background-color: #42ade2;
}
.My_Skills > div:nth-of-type(2) > div {
  width: 100%;
  background-color: #fd2155;
}
.My_Skills > div:nth-of-type(3) > div {
  width: 88%;
  background-color: #08fdd8;
}
.My_Skills > div:nth-of-type(4) > div {
  width: 100%;
  background-color: #f1754d;
}
.My_Skills > div:nth-of-type(5) > div {
  width: 88%;
  background-color: #4d5cdd;
}
.My_Skills > div:nth-of-type(6) > div {
  width: 100%;
  background-color: #fd2155;
}
.My_Skills > div:nth-of-type(7) > div {
  width: 88%;
  background-color: #504ed1;
}
.My_Skills > h1:not(:first-of-type) {
  margin-top: 1rem !important;
}
.blog-info-section {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem 2rem 3rem;
}
.blog-info-section > .my-blogs {
  position: relative;
  left: -1rem;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  max-height: 78vh;
  overflow-y: auto;
}
.blog-info-section > .my-blogs > .blog {
  padding-bottom: 2rem;
  width: 45%;
  background: #fff;
  margin: 1.5rem 0 0 1.5rem;
  animation: comeUp 1s ease;
}
.blog-info-section > .my-blogs > .blog > div {
  height: 11rem;
  margin-bottom: 1rem;
  background-size: cover;
}
.blog-info-section > .my-blogs > .blog:first-of-type > div {
  background-image: url("./images/top-pl.png");
}
.blog-info-section > .my-blogs > .blog:nth-of-type(2) > div {
  background-image: url("./images/React-Best-Practices-and-Security.jpg");
}
.blog-info-section > .my-blogs > .blog:nth-of-type(3) > div {
  background-image: url("./images/css-tips.jpg");
}
.blog-info-section > .my-blogs > .blog:nth-of-type(4) > div {
  background-image: url("./images/js-regex.jpg");
}
.blog-info-section > .my-blogs > .blog:nth-of-type(5) > div {
  background-image: url("./images/top-pl.png");
}
.blog-info-section > .my-blogs > .blog:nth-of-type(6) > div {
  background-image: url("./images/React-Best-Practices-and-Security.jpg");
}
.blog-info-section > .my-blogs > .blog:nth-of-type(7) > div {
  background-image: url("./images/css-tips.jpg");
}
.blog-info-section > .my-blogs > .blog:last-of-type > div {
  background-image: url("./images/js-regex.jpg");
}
.blog-info-section > div:last-of-type {
  width: 35%;
}
.blog-info-section > div:last-of-type > *,
.auth-form {
  background: #292828;
  padding: 2rem;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
}
.blog-info-section > div:last-of-type > *:nth-child(2) {
  margin-top: 2rem;
}
.blog-info-section > div:last-of-type > form > p,
.auth-form > h2 {
  font-weight: 700;
}
.blog-info-section > div:last-of-type > * > *,
.auth-form > *:nth-child(n + 2) {
  font-size: 0.875rem;
}
.blog-info-section > div:last-of-type > form > label,
.auth-form > label {
  position: relative;
  left: 1.5rem;
  top: -2.1rem;
  width: 80%;
  pointer-events: none;
  transition: all 0.5s ease;
}
.auth-form > textarea + label {
  top: -5.2rem !important;
}
.blog-info-section > div:last-of-type > form > label,
.blog-info-section > div:last-of-type > form > button,
.auth-form input[type="submit"] {
  color: #fff;
}
.blog-info-section > div:last-of-type > form > input,
.auth-form > input:not(:last-child),
.auth-form > textarea {
  margin-top: 1rem;
  background: #3a3838;
  font-size: 0.9375rem !important;
  padding: 0.8rem 1.5rem !important;
  color: #fff;
}
.blog-info-section > div:last-of-type > form > input:focus + label,
.blog-info-section > div:last-of-type > form > input:valid + label,
.auth-form > input:not(:last-child):focus + label,
.auth-form > input:not(:last-child):valid + label,
.auth-form > textarea:focus + label,
.auth-form > textarea:valid + label {
  top: -4.5rem;
  padding: 0.1rem 0.7rem;
  font-weight: 700;
  border-radius: 5px;
  width: fit-content;
  font-size: 12px;
  color: #fff !important;
  background: #1d6de6;
}
.auth-form > textarea:focus + label,
.auth-form > textarea:valid + label {
  top: -7.5rem !important;
}
.blog-info-section > div:last-of-type > form > button {
  background: #14d2b6;
  font-weight: 700;
}
.blog-info-section > div:last-of-type > form > button:hover,
.my-blogs > div > a:hover {
  background: #2aeed1;
}
.blog-info-section > div:last-of-type > form > input,
.blog-info-section > div:last-of-type > * > button,
.blog-info-section > div:last-of-type > * > a {
  border-radius: 50px;
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
}
.blog-info-section > div:last-of-type > * > button,
.blog-info-section > div:last-of-type > * > a {
  color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
}
.blog-info-section > div:last-of-type > div > button,
.blog-info-section > div:last-of-type > div > a {
  width: fit-content;
  border-radius: 5px;
  padding: 0.8rem 2rem;
  font-weight: 700;
  background: #086afd;
  margin: auto;
}
.auth-form input:last-of-type {
  transition: all 0.5s ease;
  font-weight: 700;
}
.blog-info-section > div:last-of-type > div > a:hover,
.auth-form input:last-of-type:hover {
  background-color: #4083e7;
}
.blog-info-section > div:last-of-type > * > p {
  color: #fff;
  width: fit-content;
  margin: auto;
  margin-bottom: 1rem;
  font-weight: 400;
}
/* RESPONSIVENESS */
@media screen and (max-width: 63.75rem) {
  body,
  body > div:nth-of-type(2) {
    flex-direction: column;
    position: relative !important;
  }
  .responsive-menu {
    display: flex;
  }
  .Menubar {
    display: none;
  }
  body > div:nth-of-type(2) > div {
    width: 100%;
  }
  body > button {
    display: none;
  }
  .Contact-me-info > div:nth-of-type(2) > div {
    width: 75% !important;
    margin: auto;
  }
  .my-work-info > div:first-of-type {
    top: 5.5rem;
  }
  #menubarRemoveIcon {
    display: flex;
    margin: auto;
  }
  body > div:nth-of-type(2) > div:nth-of-type(2) {
    padding-bottom: 6rem !important;
  }
  .GreetingSide > div:last-of-type {
    background-position-x: 15rem;
    background-position-y: 5rem;
  }
  .GreetingSide > div:last-of-type > a:first-of-type {
    position: relative;
    left: 0;
    float: none;
    margin-top: 2rem !important;
    width: 60% !important;
    color: #3acfb9 !important;
    background: transparent !important;
    border: 1px solid #4bf5db !important;
  }
  .GreetingSide > div:last-of-type > a {
    width: 60% !important;
  }
  .my-projects > div:nth-of-type(-n + 3) {
    margin-top: 1.5rem !important;
  }
  .my-projects > div {
    width: 45%;
  }
  .GreetingSide > div:last-of-type > a:nth-of-type(2) {
    margin-top: 1rem !important;
  }
  .Menubar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .socials {
    margin-top: 1rem;
    width: 50%;
    justify-content: space-between !important;
  }
  .socials > * {
    margin: 0 !important;
  }
  .single-blog {
    max-height: fit-content !important;
  }
  .single-blog-section > div:last-of-type {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding-top: 1rem;
    margin-top: 0 !important;
    width: 90vw !important;
  }
  .single-blog-section > div:last-of-type > * {
    width: 45%;
  }
  .single-blog-section > div:last-of-type > *:nth-child(2) {
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 40.5rem) {
  .single-blog-section > div:last-of-type {
    flex-direction: column;
  }
  .single-blog-section > div:last-of-type > * {
    width: 100%;
  }
  .single-blog-section > div:last-of-type > *:nth-child(2) {
    margin-top: 1.5rem !important;
  }
  .single-blog > img {
    width: 100% !important;
  }
}
@media screen and (max-width: 37.625rem) {
  .single-blog-header > div > div {
    margin-left: 0 !important;
    width: fit-content !important;
    justify-content: unset !important;
    margin-top: 1rem;
  }
  .single-blog-header > div > div > p:not(:first-of-type) {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 37.5rem) {
  .my-work-info > div:first-of-type {
    width: 90%;
    flex-direction: column;
  }
  .my-work-info > div:first-of-type > h1 {
    margin-right: 0;
  }
  .my-work-info > div:first-of-type > h1::after {
    display: none;
  }
  .my-work-info > div:first-of-type > p {
    margin: 0.5rem auto 0 auto;
  }
  .blog-info > div:first-child > p {
    width: 100% !important;
    margin: 0.5rem 0 0 0.3rem !important;
  }
}
@media screen and (max-width: 39.8125rem) {
  .GreetingSide > div:first-of-type > div:last-of-type {
    display: flex;
    flex-direction: column;
  }
  .GreetingSide > div:first-of-type > div:last-of-type > a {
    padding: 0.6rem auto;
    text-align: center;
    width: 90%;
  }
  .GreetingSide > div:first-of-type > div:last-of-type > a:last-of-type {
    margin-top: 2rem;
    margin-left: 0;
  }
  .GreetingSide > div:first-of-type > h1 {
    text-shadow: unset;
    font-size: 2.6875rem;
  }
  /* .my-projects {
    flex-direction: column;
  } */
  .my-projects > div {
    width: 90% !important;
  }
}
@media screen and (max-width: 545px) {
  .About-me-info > div:first-of-type {
    padding: 5rem 3rem 3rem 1.5rem;
  }
}
@media screen and (max-width: 30.875rem) {
  .GreetingSide > div:last-of-type > a:first-of-type,
  .GreetingSide > div:last-of-type > a {
    width: 90% !important;
  }
}
@media screen and (max-width: 57.1875rem) {
  .blog-info-section > .my-blogs {
    width: 45%;
  }
  .blog-info-section > .my-blogs > .blog {
    width: 100%;
  }
  .blog-info-section > div:last-of-type {
    width: 48%;
  }
}
@media screen and (max-width: 39.8125rem) {
  .blog-info-section {
    flex-direction: column;
  }
  .all-blogs > *,
  .all-blogs > *:first-of-type * {
    width: 100% !important;
  }
  .blog-info-section > *:last-child {
    margin-top: 2rem;
    border-top: 1px solid #808080;
    padding-top: 1rem;
  }
  .blog-info-section > .my-blogs {
    max-height: fit-content !important;
  }
  .my-work-info > div:first-of-type {
    width: 100%;
    padding: 0.8rem 1rem 1rem 3rem !important;
  }
}
@media screen and (max-width: 32.1875rem) {
  .my-work-info > div:first-of-type {
    padding: 0.8rem 1rem 1rem 1rem !important;
  }
  .blog-info-section {
    padding: 0 1rem 2rem 1rem !important;
  }
}
@media screen and (max-width: 27.25rem) {
  .About-me-info > div:last-of-type > div:first-of-type {
    flex-direction: column;
  }
  .About-me-info > div:last-of-type > div:first-of-type > a {
    padding: 0.7rem auto !important;
    text-align: center !important;
  }
  .About-me-info > div:last-of-type > div:first-of-type > a:last-of-type {
    top: 1rem;
  }
}
.auth-form {
  margin: 10rem auto 0 auto;
  min-width: 30%;
}
.signup-login-form > p:first-of-type,
.contact-me-form > p:nth-of-type(2),
.new-blog-form > p:first-of-type,
.blog-info-section .auth-form > p:first-of-type {
  background: #d448487e;
  color: #ec9292;
  padding: 0.6rem;
  display: none;
}
.auth-form>span {
  margin-top: 1rem;
  background: #0b530b;
  color: #7fd67f;
  font-weight: 500;
  text-align: center !important;
  padding: 0.6rem 0;
  display: none;
}
.contact-me-form>span {
  padding-left: 1.5rem !important;
}
.move-upper {
  margin-top: 0 !important;
}
.auth-form > * {
  outline: none;
  border: none;
  color: #fff;
}
a {
  text-decoration: none;
}
.auth-form > a:first-of-type {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0.3rem 2rem 0.3rem 1.5rem;
  border-radius: 3.125rem;
  background-color: #086afd;
  color: #fff !important;
}
.signup-form {
  margin: 5rem auto !important;
}
.auth-form > a:first-of-type * {
  font-size: 28px !important;
}
.auth-form > h2 {
  margin-top: 1rem;
  font-size: 23px !important;
  text-align: center;
}
.auth-form > input:first-of-type {
  margin-top: 2rem;
}
.auth-form > input {
  padding: 0.8rem;
}
.auth-form > input:not(:last-child):focus,
.auth-form > input:not(:last-child):valid,
.auth-form > textarea:focus,
.auth-form > textarea:valid {
  margin-top: 2rem !important;
}
.auth-form > input:not(:last-child):focus,
.Contact-me-info .auth-form textarea:focus {
  border-bottom: 1px solid var(--main-color) !important;
}
.auth-form > label {
  left: 1rem;
}
.auth-form > input:not(:last-child):focus + label,
.auth-form > input:not(:last-child):valid + label,
.auth-form > textarea:focus + label,
.auth-form > textarea:valid + label {
  left: 0;
}
.auth-form > input[type="submit"] {
  background-color: #086afd;
  border-radius: 5px;
  cursor: pointer;
}
.auth-form > p {
  margin: 1rem 0;
  width: 100% !important;
  text-align: center;
}
.auth-form > a:last-of-type {
  text-align: center;
  color: #498ef7;
  font-weight: 700;
}
@media screen and (min-width: 29.25rem) {
  .Contact-me-info .auth-form input:not(:last-child),
  .Contact-me-info .auth-form textarea {
    background: #2b2b2b !important;
  }
}
@media screen and (max-width: 70rem) {
  .auth-form {
    width: 55vw;
  }
}
@media screen and (max-width: 720px) {
  .auth-form {
    width: 70vw;
  }
}
@media screen and (max-width: 35rem) {
  .auth-form {
    width: 100vw;
  }
  body,
  .single-blog-header,
  .Contact-me-info .auth-form {
    background: #292828 !important;
  }
  .Contact-me-info .auth-form input:not(:last-child),
  .Contact-me-info .auth-form textarea {
    background: #3a3838 !important;
  }
  .single-blog-section > div:last-of-type > *:nth-child(2) {
    margin-top: 0 !important;
    padding: 0 !important;
  }
  .auth-form {
    margin: 3rem auto !important;
  }
}
.auth-form input[type="file"] {
  border: 2px dashed #808080 !important;
  cursor: pointer;
  border-radius: 5px;
}
.auth-form input[type="file"] + label {
  top: -5rem !important;
}
.Contact-me-info > div {
  width: 50%;
}
.Contact-me-info .auth-form {
  width: 80% !important;
  padding-left: 0.5rem !important;
  margin-top: 2rem !important;
  background-color: #1d1d1d;
}
.Contact-me-info .auth-form *:not(:last-child) {
  text-align: left !important;
}
.Contact-me-info .auth-form label {
  color: #777675 !important;
}
.Contact-me-info .auth-form textarea,
.single-blog-section .auth-form textarea {
  height: 6rem !important;
  width: 100% !important;
  resize: none !important;
}
.single-blog-section .auth-form {
  background: transparent !important;
  border-bottom: 1px solid var(--main-color);
  border-radius: 0 !important;
  padding: 0 0 1rem 0 !important;
  margin: 0 !important;
}
.single-blog-section .auth-form > input:first-of-type {
  margin-top: 0 !important;
  width: fit-content !important;
  padding: 0.8rem 2rem !important;
}
.Contact-me-info .auth-form > h2 {
  color: var(--main-color) !important;
  font-size: 2.5rem !important;
}
.Contact-me-info .auth-form input:last-child {
  width: fit-content !important;
  padding: 0.8rem 5rem !important;
  border-radius: 0;
}
.Contact-me-info > div:nth-of-type(2),
.single-blog-header > a,
.single-blog-header > div > div {
  display: flex;
  align-items: center;
}
.Contact-me-info > div:nth-of-type(2) > div {
  width: 60%;
  background: #3f3b3b;
  padding: 1.5rem;
}
.Contact-me-info > div:nth-of-type(2) > div > h2 {
  width: 100%;
  color: var(--main-color);
  font-size: 1.625rem;
}
.Contact-me-info > div:nth-of-type(2) > div > h2:last-of-type {
  margin-top: 0.5rem;
}
.Contact-me-info > div:nth-of-type(2) > div {
  display: flex !important;
  flex-wrap: wrap;
}
.Contact-me-info > div:nth-of-type(2) > div > a {
  width: 50%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  color: var(--main-color);
  font-size: 0.875rem;
}
.Contact-me-info > div:nth-of-type(2) > div > a > *:first-child,
.Contact-me-info > div:nth-of-type(2) > div > p > *:first-child {
  color: #fff !important;
  font-size: 1.125rem;
  margin-right: 0.8rem;
}
.Contact-me-info > div:nth-of-type(2) > div > p {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.875rem;
}
.Contact-me-info > div:nth-of-type(2) > div > p > *:first-child {
  font-size: 1.5rem !important;
  color: var(--main-color) !important;
}
.single-blog-header {
  position: sticky;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background: #1d1d1d;
  top: 0;
}
.single-blog-header > a {
  color: var(--main-color);
}
.single-blog-header > a > *:first-child {
  font-size: 20px;
  margin-right: 0.5rem;
}
.single-blog-header > div {
  margin: 1rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.375rem;
  color: #fff;
  font-weight: 700;
  align-items: center;
}
.single-blog-header > div > div {
  width: 15%;
  justify-content: space-between;
  margin-left: 3rem;
}
.single-blog-header > div > div > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
.single-blog-header > div > div > p:first-of-type > *:first-of-type,
.single-blog-header > div > div > p:nth-of-type(3) > *:first-of-type {
  color: var(--main-color) !important;
}
.single-blog-header > div > div > p:nth-of-type(2) > *:first-of-type {
  color: #ff5722 !important;
}
.single-blog-header > div > div > p > *:first-child {
  font-size: 18px;
}
.single-blog-header > div > div > p:nth-of-type(2) > *:first-child {
  transform: rotate(90deg);
}
.single-blog {
  width: 62%;
  max-height: 95vh;
  padding-right: 1rem;
  overflow: auto;
}
.single-blog > img {
  width: 80%;
  margin-bottom: 1rem;
}
.single-blog > p {
  color: #fff;
  font-size: 0.8125rem;
}
.single-blog > p:not(:first-of-type) {
  margin-top: 1rem;
}
.single-blog > h3 {
  margin-top: 1rem;
  color: #fff;
  font-size: 1.0625rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--main-color);
}
.single-blog-section > div:last-of-type {
  margin-top: 8rem;
  height: fit-content;
}
.comment {
  display: flex;
}
.comment:not(:first-of-type) {
  margin-top: 1rem;
}
.comment * {
  color: #fff;
}
.comment > div:first-child {
  background-size: cover;
  width: 2.1875rem;
  height: 2.1875rem;
  border: 1px solid var(--main-color);
  border-radius: 50%;
}
.comment:nth-of-type(2) > div:first-child {
  background-image: url("./images/profile-pic2.png");
}
.comment:nth-of-type(3) > div:first-child {
  background-image: url("./images/profile-pic1.png");
}
.comment:nth-of-type(4) > div:first-child {
  background-image: url("./images/profile-pic3.png");
}
.comment > div:last-child {
  width: 90%;
  margin-left: 0.5rem;
}
.comment > div:last-child > * {
  font-size: 0.875rem;
}
.comment > div:last-child > p {
  margin-top: 0.2rem;
}
.comment:last-child {
  margin-bottom: 2rem;
}
