* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
  z-index: 5 !important;
}
:root {
  --main-color: #08fdd8;
  --secColor: #05fdd8;
}
body {
  display: flex;
  background: #1d1d1d;
  overflow-x: hidden;
  height: fit-content;
}
.Menubar {
  position: sticky !important;
  top: 0;
  z-index: 20 !important;
  height: 100vh;
  width: fit-content;
  background: #181818;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
.Menubar > div:first-of-type {
  background: #000;
  padding: 1rem;
  cursor: pointer;
}
.Menubar > div:first-of-type > h1 {
  font-size: 1.5625rem;
}
.Menubar > div:first-of-type > h1::before,
.responsive-menu > h1 {
  content: "Y";
  height: fit-content;
  width: fit-content;
  margin: auto;
  display: block;
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  color: #fd2155;
  text-shadow: -4px 0 0px var(--main-color);
  /* text-shadow: -4px 2px 0px var(--main-color); */
}
.Menubar > div:first-of-type > p {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}
ul {
  list-style-type: none;
}
.Menubar > ul:first-of-type > li {
  padding: 0.8rem 0;
  width: 100%;
  border-bottom: 1px solid #292828;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
}
.Menubar > ul:first-of-type .active {
  color: var(--main-color);
  pointer-events: none;
  cursor: default;
}
.Menubar > ul:first-of-type > li > a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease;
}
.Menubar > ul:first-of-type > li > a:hover,
.GreetingSide > div:first-of-type > div:last-of-type > a {
  color: #1ec4ab;
}
.Menubar > ul:first-of-type span {
  color: var(--main-color) !important;
}
.socials {
  width: 80%;
  margin: 0.5rem auto;
  display: flex;
  flex-wrap: wrap;
}
.socials * {
  font-size: 15px;
  cursor: pointer;
}
.socials > * {
  color: #fff !important;
}
.socials > *:hover {
  color: var(--main-color) !important;
}
#menubarRemoveIcon {
  display: none;
}
.socials *:nth-of-type(2),
.socials *:nth-of-type(3) {
  margin-left: 1.2rem;
}
.socials > *:last-of-type {
  margin: 0.8rem auto 0 auto;
}
.Menubar > ul:last-of-type {
  width: fit-content;
  border-top: 1px solid #292828;
  padding: 0.6rem !important;
  margin: 0.5rem auto 0 auto !important;
}
.Menubar > ul:last-of-type > li {
  color: #ccc;
  font-size: 0.75rem;
}
.Menubar > ul:last-of-type > li:not(:first-of-type) {
  margin-top: 0.5rem;
}
body > div:nth-of-type(2) {
  display: flex;
  width: 100%;
}
body > .GreetingSide {
  padding: 3rem 0 0 3rem;
}
body > .GreetingSide > div,
body > .About-me-info > div,
body > .My_Skills > div {
  width: 50%;
}
.responsive-menu {
  position: sticky;
  top: 0;
  background: #181818;
  width: 100% !important;
  display: none;
  z-index: 15 !important;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
}
.responsive-menu * {
  cursor: pointer;
}
.responsive-menu > h1 {
  margin-left: 0;
}
.responsive-menu *:last-child {
  font-size: 30px;
  color: #fff;
}
.GreetingSide > div:first-of-type > div:first-of-type,
.GreetingSide > div:first-of-type > div:nth-of-type(2) {
  display: flex;
  width: fit-content;
  flex-direction: column;
}
.GreetingSide > div:first-of-type > div:first-of-type *,
.GreetingSide > div:first-of-type > div:nth-of-type(2) * {
  color: #6b6b6b;
  font-family: Hanuman !important;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem;
}
.GreetingSide > div:first-of-type > div:first-of-type > span:nth-of-type(2),
.GreetingSide > div:first-of-type > div:nth-of-type(2) > span:nth-of-type(2) {
  margin-left: 1.5rem;
}
.GreetingSide > div:first-of-type > div:first-of-type > span:last-of-type {
  margin-left: 3rem;
}
.GreetingSide > div:first-of-type > h1 {
  font-family: "Roboto";
  color: #fff;
  font-size: 4.375rem;
  font-weight: 900;
  width: fit-content;
  text-shadow: 0px 4px 3px #5bf7e0;
}
.GreetingSide > div:first-of-type > h1 > span {
  color: #fd2155;
  text-shadow: -4px 2px 0 var(--main-color);
}
.GreetingSide > div:first-of-type > div:last-of-type {
  margin-top: 3rem;
}
.GreetingSide > div:first-of-type > div:last-of-type > a,
.GreetingSide > div:last-of-type > a,
.my-work-info > a,
.About-me-info > div:last-of-type > div:first-of-type > a,
.my-projects > div a {
  position: relative;
  padding: 0.6rem 4rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.my-projects > div a {
  display: flex;
  align-items: center;
  padding: 0.4rem 2rem !important;
}
.my-projects > div a * {
  font-size: 1.5625rem !important;
}
.GreetingSide > div:first-of-type > div:last-of-type > a {
  width: fit-content;
  background: #3acfb9;
}
.GreetingSide > div:last-of-type > a {
  width: 50%;
  text-align: center;
  border: 1px solid #4bf5db;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  color: #3acfb9;
}
.GreetingSide > div:last-of-type > a:first-of-type,
.GreetingSide > div:last-of-type > a:last-of-type {
  background-color: #41d8c1;
  color: #fff;
}
.GreetingSide > div:first-of-type > div:last-of-type > a::after {
  background: #fff;
  height: 6px;
  width: 6px;
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
}
.GreetingSide > div:first-of-type > div:last-of-type > a:last-of-type {
  margin-left: 1.4rem;
}
.GreetingSide > div:first-of-type > div:last-of-type > a:hover,
.GreetingSide > div:last-of-type > a:hover {
  background-color: #41d8c1;
  color: #fff;
}
.GreetingSide > div:last-of-type {
  position: relative;
  display: flex;
  background-image: url("/images//IsiteYves.png");
  background-position-x: 15rem;
  background-position-y: 15rem;
  background-size: 60%;
  background-repeat: no-repeat;
  flex-direction: column;
}
.GreetingSide > div:last-of-type > a:not(:nth-of-type(2)) {
  margin-top: 1rem;
}
.GreetingSide > div:last-of-type > a:nth-of-type(2) {
  margin-top: 8rem;
}
.GreetingSide > div:last-of-type > a:first-of-type {
  position: absolute;
  right: 3rem;
  width: fit-content !important;
  float: right;
}
body > button {
  position: absolute;
  bottom: 2rem;
  transform: translateX(-50%);
  left: 50%;
  background: #08fdd8;
  display: flex;
  height: 2.5rem !important;
  width: 2.5rem !important;
  outline: none !important;
  border: none !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px !important;
  cursor: pointer;
}
.my-work-info {
  display: flex;
  flex-direction: column;
  padding: 0 0 3rem 0rem !important;
}

.my-work-info > div:first-of-type {
  position: sticky;
  top: 0;
  z-index: 25 !important;
  background: #1d1d1d;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0.8rem 0 1rem 3rem !important;
  font-size: 0.875rem !important;
}
.my-work-info > div:first-of-type > h1 {
  position: relative;
  color: var(--main-color);
  font-size: 3.125rem;
  font-weight: 900 !important;
  margin-right: 6.5rem;
}
.my-work-info > div:first-of-type > h1::after {
  position: relative;
  content: "";
  display: flex;
  width: 4.875rem;
  height: 0.3125rem;
  background: var(--main-color);
  top: -2rem;
  left: 14rem !important;
}
.my-blogs > div:first-of-type {
  flex-direction: column;
  align-items: unset;
}
.my-work-info > a {
  margin-left: 3rem;
}
.my-blogs > div:first-of-type > p {
  width: 45%;
}
.my-blogs > div:first-of-type > h1::after {
  display: none;
}
.my-projects {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin-top: -1rem;
  margin-left: -2rem !important;
  padding-left: 3rem;
}
.my-projects > div {
  margin: 2rem 0 0 2rem;
  background-size: contain;
  width: 30%;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 3px 30px #000000;
  transition: all 0.4s ease;
  animation: comeUp 1s ease;
}
@keyframes comeUp {
  0% {
    margin-top: 4rem;
    opacity: 0.1;
  }
  100% {
    margin-top: 2rem;
    opacity: 1;
  }
}
.my-projects > div:first-of-type {
  background: url("./images/skidesign.png") no-repeat;
}
.my-projects > div:nth-of-type(2) {
  background: url("./images/groovinx.png") no-repeat;
}
.my-projects > div:nth-of-type(3) {
  background: url("./images/sparkcinema.png") no-repeat;
}
.my-projects > div:nth-of-type(4) {
  background: url("./images/myliberpay.png") no-repeat;
}
.my-projects > div:nth-of-type(5) {
  background: url("./images/keystore.png") no-repeat;
}
.my-projects > div:nth-of-type(6) {
  background: url("./images/measuremets-converter.png") no-repeat;
}
.my-work-info > a,
.my-projects > div a {
  width: fit-content;
  margin-top: 2rem;
  background-color: #3acfb9 !important;
}
.my-work-info > .my-projects > div > div {
  margin-top: 4rem;
  background: #00000094;
  padding: 1rem;
  border-radius: 0.3125rem;
}
.my-work-info > .my-projects > div > div * {
  color: #fff;
}
.my-work-info > .my-projects > div p {
  margin-top: 0.6rem !important;
  margin-bottom: 0.7rem !important;
  font-size: 0.875rem;
}
.About-me-info > div:nth-of-type(2) {
  background-color: #181818;
  padding: 2em 3rem 3rem 3rem;
}
.About-me-info > div:first-of-type {
  padding: 5rem 3rem 3rem 3rem;
}
.About-me-info > div:first-of-type > h1 {
  font-size: 3.125rem;
  color: #08fdd8;
}
.About-me-info > div:first-of-type > p {
  margin-top: 2rem;
  color: #fff;
  font-size: 1rem;
}
.About-me-info > div:first-of-type > p:last-of-type {
  margin-bottom: 2rem;
}
.About-me-info > div:first-of-type > a {
  text-decoration: none;
  padding: 0.8rem 2rem;
  width: 10rem;
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin-top: 4rem;
  background: #3acfb9;
}
.About-me-info > div:first-of-type > a:hover {
  color: #3acfb9;
  border: 1px solid #3acfb9;
  background-color: transparent;
  padding: 0.7375rem 1.9375rem;
}
.About-me-info > div:last-of-type > div:first-of-type {
  display: flex;
  justify-content: space-between;
}
.About-me-info > div:last-of-type > div:first-of-type > a:first-of-type,
.About-me-info > div:last-of-type > div:first-of-type > a:last-of-type:hover {
  border: 1px solid #3acfb9 !important;
  background: transparent !important;
  color: #3acfb9 !important;
}
.About-me-info > div:last-of-type > div:first-of-type > a:first-of-type:hover,
.About-me-info > div:last-of-type > div:first-of-type > a:last-of-type {
  background: #3acfb9 !important;
  color: #fff !important;
}
.About-me-info > div:last-of-type > h1 {
  margin-top: 1.5rem;
}
.About-me-info > div:last-of-type > h1,
.My_Skills > h1 {
  color: #08fdd8;
}
.My_Skills > h1 {
  margin-top: 0 !important;
}
.About-me-info > div:last-of-type > ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 1rem;
  padding-left: 0.5rem;
}
.About-me-info > div:last-of-type > ul > li {
  color: #fff;
  font-size: 1rem;
}
.My_Hobbies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.My_Hobbies > div {
  background: #201e1e;
  width: 45%;
  border-radius: 0.375rem;
  margin-top: 2rem;
  padding: 1.5rem 0;
  text-align: center;
}
.My_Hobbies > div > span {
  display: none !important;
  height: 3rem !important;
}
.My_Hobbies > div > p {
  font-weight: 900;
  color: #fffada;
}
.My_Skills {
  margin-top: 2rem;
  background: #3f3b3b;
  padding: 2rem 3rem !important;
}
.My_Skills > p {
  font-weight: 700;
  color: #fff;
  font-size: 0.875rem;
  margin-left: 0.2rem;
}
.My_Skills > p:not(:first-of-type) {
  margin-top: 0.8rem !important;
}
.My_Skills > div {
  background: #fff;
  height: 1px;
  width: 98%;
  margin-top: 0.4rem;
  margin-left: 0.2rem;
}
.My_Skills > div > div {
  height: 100%;
}
.My_Skills > div:first-of-type > div {
  width: 98%;
  background-color: #42ade2;
}
.My_Skills > div:nth-of-type(2) > div {
  width: 100%;
  background-color: #fd2155;
}
.My_Skills > div:nth-of-type(3) > div {
  width: 88%;
  background-color: #08fdd8;
}
.My_Skills > div:nth-of-type(4) > div {
  width: 100%;
  background-color: #f1754d;
}
.My_Skills > div:nth-of-type(5) > div {
  width: 88%;
  background-color: #4d5cdd;
}
.My_Skills > div:nth-of-type(6) > div {
  width: 100%;
  background-color: #fd2155;
}
.My_Skills > div:nth-of-type(7) > div {
  width: 88%;
  background-color: #504ed1;
}
.My_Skills > h1:not(:first-of-type) {
  margin-top: 1rem !important;
}
/* RESPONSIVENESS */
@media screen and (max-width: 63.75rem) {
  body,
  body > div:nth-of-type(2) {
    flex-direction: column;
    position: relative !important;
  }
  .responsive-menu {
    display: flex;
  }
  .Menubar {
    display: none;
  }
  body > div:nth-of-type(2) > div {
    width: 100%;
  }
  body > button {
    display: none;
  }
  #menubarRemoveIcon {
    display: flex;
    margin: auto;
  }
  body > div:nth-of-type(2) > div:nth-of-type(2) {
    padding-bottom: 6rem !important;
  }
  .GreetingSide > div:last-of-type {
    background-position-x: 15rem;
    background-position-y: 5rem;
  }
  .GreetingSide > div:last-of-type > a:first-of-type {
    position: relative;
    left: 0;
    float: none;
    margin-top: 2rem !important;
    width: 60% !important;
    color: #3acfb9 !important;
    background: transparent !important;
    border: 1px solid #4bf5db !important;
  }
  .GreetingSide > div:last-of-type > a {
    width: 60% !important;
  }
  .my-projects > div:nth-of-type(-n + 3) {
    margin-top: 1.5rem !important;
  }
  .my-projects > div {
    width: 45%;
  }
  .GreetingSide > div:last-of-type > a:nth-of-type(2) {
    margin-top: 1rem !important;
  }
  .Menubar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .socials {
    margin-top: 1rem;
    width: 50%;
    justify-content: space-between !important;
  }
  .socials > * {
    margin: 0 !important;
  }
}
@media screen and (max-width: 37.5rem) {
  .my-work-info > div:first-of-type {
    width: 90%;
    flex-direction: column;
  }
  .my-work-info > div:first-of-type > h1 {
    margin-right: 0;
  }
  .my-work-info > div:first-of-type > h1::after {
    display: none;
  }
  .my-work-info > div:first-of-type > p {
    margin: 0.5rem auto 0 auto;
  }
}
@media screen and (max-width: 39.8125rem) {
  .GreetingSide > div:first-of-type > div:last-of-type {
    display: flex;
    flex-direction: column;
  }
  .GreetingSide > div:first-of-type > div:last-of-type > a {
    padding: 0.6rem auto;
    text-align: center;
    width: 90%;
  }
  .GreetingSide > div:first-of-type > div:last-of-type > a:last-of-type {
    margin-top: 2rem;
    margin-left: 0;
  }
  .GreetingSide > div:first-of-type > h1 {
    text-shadow: unset;
    font-size: 2.6875rem;
  }
  /* .my-projects {
    flex-direction: column;
  } */
  .my-projects > div {
    width: 90% !important;
  }
}
@media screen and (max-width: 545px) {
  .About-me-info > div:first-of-type {
    padding: 5rem 3rem 3rem 1.5rem;
  }
}
@media screen and (max-width: 30.875rem) {
  .GreetingSide > div:last-of-type > a:first-of-type,
  .GreetingSide > div:last-of-type > a {
    width: 90% !important;
  }
}
