* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: open sans;
}
:root {
  --dashboard-main-color: #086afd;
}
::-webkit-scrollbar {
  width: 0.3125rem;
}
::-webkit-scrollbar-track {
  border-radius: 0.625rem;
  background: #464444;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
  background-color: #908f8f;
}
body {
  height: 98vh;
}
.Sidebar {
  width: fit-content;
  height: 100%;
  padding: 2rem 6rem 2rem 1.5rem;
  margin: 0.5rem 0 0.5rem 0.5rem;
  border-top-right-radius: 3.125rem;
  border-bottom-right-radius: 3.125rem;
  box-shadow: 5px 0 15px #0000000e;
}
.Sidebar > * {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Sidebar > *:not(:last-of-type) > *:first-child,
.Sidebar > * > a > * {
  max-width: 1.5rem;
  font-size: 40px;
}
.Sidebar > * > a > * {
  margin-right: 0.5rem;
}
.Sidebar > .active * {
  color: var(--dashboard-main-color) !important;
}
.Sidebar > * > *:last-child {
  right: -1rem;
}
.Sidebar > * > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #000;
  font-size: 0.9375rem;
  font-weight: 900 !important;
}
.Sidebar>div:hover * {
  color: var(--dashboard-main-color) !important;
}
.Sidebar > * > h3 {
  font-size: 0.9375rem;
  margin-left: 1rem;
  width: 8rem;
}
.Sidebar>section {
  width: fit-content;
  flex-direction: column !important;
}
.Sidebar>section>div {
  width: 60px;
  height: 60px;
  background: url("../images/IsiteYves.png") no-repeat;
  background-size: cover !important;
  border: 2px solid var(--dashboard-main-color);
  border-radius: 50%;
}
.Sidebar>section>span {
  font-size: 14px;
  font-weight: 600;
  color: #808080;
}
a {
  text-decoration: none;
}
body {
  display: flex;
}
.my-blogs {
  display: flex;
  flex-wrap: wrap;
  max-height: 95vh !important;
  overflow: auto;
  padding-bottom: 3rem !important;
}
.my-blogs > div:first-of-type {
  margin-left: 1.5rem;
}
.my-blogs > div:first-of-type,
.contact-messages > div:first-of-type,
.my-profile > div:first-of-type {
  position: sticky;
  top: 0;
  z-index: 20;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 1rem 0 1rem 0;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.068);
}
.my-blogs > div:first-of-type > h2,
.contact-messages > div:first-of-type > h2,
.my-profile > div:first-of-type > h2 {
  width: fit-content;
  margin-left: 3rem;
  color: var(--dashboard-main-color);
}
.my-blogs > div:first-of-type > *:last-child {
  padding: 0.4rem 2rem;
  margin-left: 1rem;
  border-radius: 3.125rem;
  color: #fff !important;
  background: #1e90ff;
  cursor: pointer;
}
.my-blogs > div:first-of-type > *:last-child * {
  color: #fff;
}
.my-blogs > .blog {
  padding-bottom: 2rem;
  width: 30%;
  background: #fff;
  margin: 1.5rem 0 0 1.5rem;
  z-index: 10;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.068);
  animation: comeUp 1s ease;
}
.my-blogs > .blog:nth-of-type(2) > div {
  background-image: url("../images/top-pl.png");
}
.my-blogs > .blog:nth-of-type(3) > div {
  background-image: url("../images/React-Best-Practices-and-Security.jpg");
}
.my-blogs > .blog:nth-of-type(4) > div {
  background-image: url("../images/css-tips.jpg");
}
.my-blogs > .blog:nth-of-type(5) > div {
  background-image: url("../images/js-regex.jpg");
}
.my-blogs > .blog:nth-of-type(6) > div {
  background-image: url("../images/top-pl.png");
}
.my-blogs > .blog:nth-of-type(7) > div {
  background-image: url("../images/React-Best-Practices-and-Security.jpg");
}
.my-blogs > .blog > div {
  position: relative;
  height: 11rem;
  margin-bottom: 1rem;
  background-size: cover;
}
.my-blogs > .blog > div::after {
  position: absolute;
  top: -1rem;
  right: -1rem;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  content: "Edit";
  text-align: center;
  color: #fff;
  font-weight: 700;
  background: var(--dashboard-main-color);
}
.my-blogs > .blog > h3,
.my-blogs > .blog > p {
  margin-left: 1rem;
  margin-bottom: 1.5rem !important;
}
.my-blogs > .blog > p {
  font-size: 15px;
}
.my-blogs > .blog > a,
.my-blogs > .blog > button {
  margin-left: 1rem;
  font-size: 0.875rem !important;
  padding: 0.5rem 1.5rem;
  background: #25e0c4;
  border-radius: 3.125rem;
  color: #fff;
  transition: all 0.5s ease;
  font-weight: 700;
  cursor: pointer;
}
.my-blogs > .blog > button {
  background: #f03b59;
  border: none;
  outline: none;
}
.my-blogs > .blog > button:hover {
  background: #c41532;
}
.contact-messages,
.my-profile {
  padding: 0 2rem 2rem 2rem;
  overflow: auto;
  width: 100%;
  max-height: 95vh !important;
}
.real-messages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-messages>div:first-of-type>p {
  margin-left: 1rem;
}
.contact-messages .contact-message {
  width: 35vw;
  padding: 1rem;
  margin: 1rem 0 0 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  box-shadow: 5px 0 15px #00000046;
}
.contact-messages .contact-message>p:not(:first-of-type) {
  margin-top: 0.8rem;
}
.contact-messages .contact-message>p:last-of-type {
  font-style: italic;
}
.contact-messages .contact-message>p>span:first-of-type {
  font-weight: 700;
}
.my-profile>form {
  display: flex;
  padding-left: 1rem;
  width: 30vw;
  flex-direction: column;
}
.my-profile>form>div {
  position: relative;
  background: url("../images/IsiteYves.png") no-repeat;
  background-size: cover;
  width: 120px !important;
  height: 120px !important;
  margin-top: 1.5rem;
  margin-left: 10vw;
  border: 3px solid var(--dashboard-main-color);
  border-radius: 50%;
}
.my-profile>form>div>label {
  position: absolute;
  padding: 0.3rem 0.9rem;
  background: var(--dashboard-main-color);
  bottom: -0.4rem;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  right: -0.4rem;
  cursor: pointer;
  border-radius: 50%;
}
.my-profile>form>label {
  color: #808080;
  font-weight: 500;
  margin-top: 1rem;
}
.my-profile>form>input:not(:last-of-type) {
  border: 1px solid #a7a7a7;
  padding: 0.5rem 0.8rem;
  outline: none;
  color: #302e2e;
  font-weight: 700;
}
.my-profile>form>input::placeholder {
  color: #979797;
}
.my-profile>form>input[type=file] {
  display: none;
}
.my-profile>form>input[type=submit] {
  cursor:no-drop;
  width: fit-content;
  margin-top: 1rem;
  font-weight: 700;
  background:#6a83f0;
  padding: 0.6rem 2rem;
  color: #fff;
  border: none;
  outline: none;
}